In [1]:
import pandas as pd

In [66]:
data = pd.read_csv("life expectancy.csv")

In [67]:
data = data[['Country Name', 'Country Code', 'Region', 'IncomeGroup', 'Year', 'Life Expectancy World Bank']]

In [68]:
data

,Country Name,Country Code,Region,IncomeGroup,Year,Life Expectancy World Bank
0,Afghanistan,AFG,South Asia,Low income,2001,56.308
1,Angola,AGO,Sub-Saharan Africa,Lower middle income,2001,47.059
2,Albania,ALB,Europe & Central Asia,Upper middle income,2001,74.288
3,Andorra,AND,Europe & Central Asia,High income,2001,NaN
4,United Arab Emirates,ARE,Middle East & North Africa,High income,2001,74.544
...,...,...,...,...,...,...
3301,Vanuatu,VUT,East Asia & Pacific,Lower middle income,2019,70.474
3302,Samoa,WSM,East Asia & Pacific,Lower middle income,2019,73.321
3303,South Africa,ZAF,Sub-Saharan Africa,Upper middle income,2019,64.131
3304,Zambia,ZMB,Sub-Saharan Africa,Low income,2019,63.886
3305,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2019,61.490

In [53]:
data = data[data['Life Expectancy World Bank'].notna()]

In [65]:
data['Country Name'].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'count'